{% load static %}


        <html>
          <head>
              <title>Django blog</title>
              <!-- Compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}"> -->
    
        <!-- Compiled and minified JavaScript -->
        <!-- <script src="{% static "materialize/js/materialize.min.js" %}"></script> -->
    
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <!-- Compiled and minified JavaScript -->
        <script src="{% static "materialize/js/materialize.min.js" %}"></script>
          </head>
            <body>
              
                <article>
                    <header>
                       
                  <div class="navbar-fixed">
                      <nav>
                        <div class="nav-wrapper">
                          <a href="#!" class="brand-logo">Logo</a>
                          <ul class="right hide-on-med-and-down">
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="badges.html">Components</a></li>
                          </ul>
                        </div>
                      </nav>
                    </div>
                    </header>
                    <main>
                       
                         
                              <div class="in container"> TSBB </div>
                            
                          
                          <hr>
                        </div>
                      <!-- <div class="container" style="width: 100%"> -->
                        <!-- POST_LIST -->
                        {% block content %}{% endblock %}
                      <!-- </div> -->
                    </main>
                    <footer class="page-footer">
                        <div class="container">
                          <div class="row">
                            <div class="col l6 s12">
                              <h5 class="white-text">Footer Content</h5>
                              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                              <h5 class="white-text">Links</h5>
                              <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="footer-copyright">
                          <div class="container">
                          © 2014 Copyright Text
                          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                          </div>
                        </div>
                      </footer>
                    
                </article>
            </body>
        </html>
        
<!--       
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav> -->
    



 
<!-- <figure class="image is-9by16">
        <img src="{% static "images/main.jpg" %}" alt="My image">
      </figure> -->
<!-- 
                      <div class="page-header">
               
                        </div>
                            <div class="page-header">
                                <h1><a href="/">Django Blog</a></h1>
                                {% if user.is_authenticated %}
                                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                            {% endif %}
                            </div>
                            <div class="content container">  
                                <div class="row">
                                   
                                    <div class="col-md-8"> -->
                                         
                                  
                                <!-- </div>
                            </div> --> 